/* main.css */
#main {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

#album {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

#artist {
  font-weight: lighter;
  font-size: small;
}

#main02 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  height: 100%;
  margin-top: -30px;
}

#contact,
#subscribe,
#shop {
  margin-right: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

/* icon2, icon4, icon6, icon8, icon10을 오른쪽으로 정렬 */
#icon2,
#icon4,
#icon6,
#icon8,
#icon10 {
  margin-left: auto;
}
