/* 상단 로고 */
#main {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

#album {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

#artist {
  font-weight: lighter;
  font-size: small;
}

#main02 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  height: 100%;
  margin-top: -30px;
}

#contact,
#subscribe,
#shop {
  margin-right: 10px;
}

/* 아이콘 */
.icon-container {
  display: flex;
  flex-direction: column;
}

#icon2,
#icon4,
#icon6,
#icon8,
#icon10,
#icon2_btn,
#icon4_btn,
#icon6_btn,
#icon8_btn,
#icon10_btn {
  margin-left: auto;
}

.music-btn {
  width: 94px;
  height: 94px;
  background: none;
  border: none;
}

/* 로고 */
.logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#notice {
  text-align: center;
}
#logo {
  font-size: 40px;
}

/* credit */
.hidden {
  display: none;
}

.credit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* neon */
/* .icon.glow {
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  transition: box-shadow 0.5s ease-in-out;
} */
.icon.glow {
  filter: drop-shadow(0 0 10px #ffc814) drop-shadow(0 0 20px #ffff14)
    drop-shadow(0 0 30px #eac704f6);
  transition: filter 0.5s ease-in-out;
}
